body, ul, p, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.menu li a:hover{
    color: yellow;
}

main{
    width: 100%;
}

.apresentacao1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.apresentacao1 h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.apresentacao_texto span::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}*/

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.container1-item1{
    width: 50%;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.container1-item2{
    width: 50%;
}

.container1-item2 img{
    width: 50%;
    margin-left: 150px;
}

.ferramentas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ferramentas-texto{
    margin: 0 0 50px 90px;
}

.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 100px;
}


.container2-item1{
    width: 20%;
}

.container2-item1 img{
    width: 150px;
    height: 150px;
}

.container2-item2{
    width: 20%;
}

.container2-item2 img{
    width: 150px;
    height: 150px;
}

.container2-item3{
    width: 20%;
}

.container2-item3 img{
    width: 150px;
    height: 150px;
}